*{
	box-sizing: border-box;
}


h1{

	text-align: center;
	font-family: Helvetica, Arial, sans-serif; 
	color: #FF1493;
}


.PrincipalContainer{

		background-color: #32CD32;
		padding: 10px;

}

.Dish{

	
	background-color: #E6E6FA;
	size: 100px 250px;
	padding: 10px;
	margin: 5px;
	border : 1px solid black;
	box-sizing: border-box;
	position: relative;


}


.DishTitle{

	background-color: #808000;
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: bold;
	color: #E6E6FA;
	text-align: center;

	width: 200px;
	padding: 10px;
	border : 1px solid black;
	box-sizing: border-box;


	position:absolute;
	top:-17px;
	right:-1px;
}

.DishDescription{

	background-color: #E6E6FA;
	font-family: Helvetica, Arial, sans-serif; 
	color: #800080;
	text-align: left;
	size: 90px 200px;
	padding: 10px;
	padding-top: 50px;
	
	
}

.PrincipalContainer{

	width: 100%;
}


#DishTitle2{

	background-color: #FF6347;
}

#DishTitle3{

	background-color: #00CDC1;
}


@media (min-width: 992px){

	
	.Dish{

		float:left;

	}

	.Dish{

		width: 32%;


	}
}

@media (min-width: 768px) and (max-width: 991px){

	.Dish{

		float:left;

	}

	.Dish{

		width: 48%;

	}

	#Dish3{

		width: 97%;
	

}

@media (max-width: 767px){


	.Dish{

		float:left;

	}

	.Dish{
		width: 100%;


	}


}
